.mySlider {
  width: 290px;
  grid-column: span 6;
  margin-left: 250px;
}

.mySlide {
  text-align: center;
  color: white;
  background-color: black;
}

.mySliderImage {
  width: 450px;
  margin-left: 200px;
  margin-top: -50px;
}

.styleText {
  text-decoration: none;
  font-weight: 400;
  margin-left: 5px;
  color: #A12226
}

.styleText1 {
  text-decoration: none;
  font-weight: 400;
  margin-left: 5px;
  color: #149E55
}